@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../images/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Grid-view:before {
  content: "\e900";
}
.icon-Group-17:before {
  content: "\e901";
}
.icon-Group-23:before {
  content: "\e902";
}
.icon-Group-32:before {
  content: "\e903";
}
.icon-Group-4:before {
  content: "\e904";
}
.icon-Group-16:before {
  content: "\e905";
}
.icon-Group-1000002901:before {
  content: "\e909";
}
.icon-Group6:before {
  content: "\e90a";
}
.icon-Layer-2:before {
  content: "\e90b";
}
.icon-My-location:before {
  content: "\e90c";
}
.icon-noun-car-seat-4811528-1:before {
  content: "\e90d";
}
.icon-noun-engine-piston-4234943-1:before {
  content: "\e90e";
}
.icon-Remove-circle-outline:before {
  content: "\e90f";
}
.icon-Vector-14:before {
  content: "\e910";
}
.icon-Vector-23:before {
  content: "\e911";
}
.icon-Vector-33:before {
  content: "\e912";
}
.icon-Vector-41:before {
  content: "\e913";
}
.icon-Vector-51:before {
  content: "\e914";
}
.icon-Vector-6:before {
  content: "\e915";
}
.icon-Vector-7:before {
  content: "\e916";
}
.icon-Vector-8:before {
  content: "\e917";
}
.icon-Vector-9:before {
  content: "\e918";
}
.icon-Vector-10:before {
  content: "\e919";
}
.icon-Vector-111:before {
  content: "\e91a";
}
.icon-Vector-121:before {
  content: "\e91b";
}
.icon-Vector6:before {
  content: "\e91c";
}
.icon-whatsapp-1:before {
  content: "\e91d";
}
.icon-dashboard-2:before {
  content: "\e91f";
}
.icon-engine-1:before {
  content: "\e920";
}
.icon-Format-color-fill:before {
  content: "\e921";
}
.icon-Group-15:before {
  content: "\e923";
}
.icon-Group-22:before {
  content: "\e924";
}
.icon-Group-31:before {
  content: "\e925";
}
.icon-Group-1000002834:before {
  content: "\e926";
}
.icon-Group5:before {
  content: "\e927";
}
.icon-steering-wheel-1:before {
  content: "\e928";
}
.icon-Vector-13:before {
  content: "\e929";
}
.icon-Vector-22:before {
  content: "\e92a";
}
.icon-Vector-32:before {
  content: "\e92b";
}
.icon-Vector5:before {
  content: "\e92c";
}
.icon-Vector-21:before {
  content: "\e92d";
}
.icon-Vector-12:before {
  content: "\e92e";
}
.icon-rotate-left-circular-arrow-interface-symbol-1:before {
  content: "\e92f";
}
.icon-map-1-1:before {
  content: "\e930";
}
.icon-th-list:before {
  content: "\e931";
}
.icon-line-height:before {
  content: "\e932";
}
.icon-Group4:before {
  content: "\e933";
}
.icon-Group-14:before {
  content: "\e934";
}
.icon-Sedan-ar:before {
  content: "\e935";
}
.icon-Group-13:before {
  content: "\e936";
}
.icon-Group-21:before {
  content: "\e937";
}
.icon-Group-3:before {
  content: "\e938";
}
.icon-Group3:before {
  content: "\e939";
}
.icon-image-1008:before {
  content: "\e93a";
}
.icon-loupe-11:before {
  content: "\e93b";
}
.icon-quote-1:before {
  content: "\e93c";
}
.icon-Vector4:before {
  content: "\e93d";
}
.icon-Check:before {
  content: "\e93e";
}
.icon-edit-1:before {
  content: "\e93f";
}
.icon-Group-21081:before {
  content: "\e940";
}
.icon-Group2:before {
  content: "\e941";
}
.icon-user-1-1:before {
  content: "\e942";
}
.icon-Vector3:before {
  content: "\e943";
}
.icon-12:before {
  content: "\e944";
}
.icon-11:before {
  content: "\e945";
}
.icon-581419696:before {
  content: "\e946";
}
.icon-03:before {
  content: "\e947";
}
.icon-Arrow-1:before {
  content: "\e948";
}
.icon-gasoline-pump-1:before {
  content: "\e94a";
}
.icon-gearbox-1:before {
  content: "\e94b";
}
.icon-Group-11:before {
  content: "\e94c";
}
.icon-Group-2:before {
  content: "\e94d";
}
.icon-Group-12:before {
  content: "\e955";
}
.icon-Group1:before {
  content: "\e956";
}
.icon-heart-1-1:before {
  content: "\e957";
}
.icon-paper-plane:before {
  content: "\e958";
}
.icon-Polygon-6:before {
  content: "\e959";
}
.icon-right-arrow-2-1:before {
  content: "\e95a";
}
.icon-search-1:before {
  content: "\e95b";
}
.icon-shuffle-2-11:before {
  content: "\e95c";
}
.icon-Vector-11:before {
  content: "\e95d";
}
.icon-Vector-2:before {
  content: "\e95e";
}
.icon-Vector-31:before {
  content: "\e95f";
}
.icon-Vector-4:before {
  content: "\e960";
}
.icon-Vector-5:before {
  content: "\e961";
}
.icon-Vector2:before {
  content: "\e962";
}
.icon-10:before {
  content: "\e963";
}
.icon-9:before {
  content: "\e964";
}
.icon-8:before {
  content: "\e965";
}
.icon-7:before {
  content: "\e966";
}
.icon-6:before {
  content: "\e967";
}
.icon-5:before {
  content: "\e968";
}
.icon-4:before {
  content: "\e969";
}
.icon-Vector-3:before {
  content: "\e96a";
}
.icon-Group-1:before {
  content: "\e96b";
}
.icon-Group:before {
  content: "\e96c";
}
.icon-Path-90148:before {
  content: "\e96d";
}
.icon-user:before {
  content: "\e96e";
}
.icon-Vector-1:before {
  content: "\e96f";
}
.icon-Vector1:before {
  content: "\e970";
}
.icon-uniE971:before {
  content: "\e971";
}
.icon-1:before {
  content: "\e972";
}
.icon-2:before {
  content: "\e973";
}
.icon--1:before {
  content: "\e974";
}
.icon-3:before {
  content: "\e975";
}
.icon-add-button-1:before {
  content: "\e976";
}
.icon-loupe-1:before {
  content: "\e977";
}
.icon-shuffle-2-1:before {
  content: "\e978";
}
.icon-Vector:before {
  content: "\e979";
}
.icon-chevron-down:before {
  content: "\e981";
}
.icon-chevron-small-down:before {
  content: "\e982";
}
.icon-chevron-small-up:before {
  content: "\e983";
}
.icon-chevron-up:before {
  content: "\e984";
}
.icon-cross:before {
  content: "\e97a";
}
.icon-menu:before {
  content: "\e97b";
}
.icon-paper-plane1:before {
  content: "\e97c";
}
.icon-vimeo1:before {
  content: "\e97d";
}
.icon-th-menu:before {
  content: "\e97e";
}
.icon-th-menu-outline:before {
  content: "\e97f";
}
.icon-heart:before {
  content: "\e980";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pinterest2:before {
  content: "\ead2";
}
